{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Plastic tickets' 'plastic_tickets_index' %}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% blocktrans %}
        <h3>Welcome to Plastic Tickets!</h3>
    {% endblocktrans %}

    <br>

    <a href="{% url 'plastic_tickets_new' %}">
        <button class="btn btn-info mb-4" style="min-width: 28ex;">
            {% blocktrans %}
                Click here to create a ticket
            {% endblocktrans %}
        </button>
    </a>
    <br>
    <a href="{% url 'plastic_tickets_list' %}">
        <button class="btn btn-info mb-4" style="min-width: 28ex;">
            {% blocktrans %}
                Manage tickets
            {% endblocktrans %}
        </button>
    </a>
{% endblock %}
